html, body {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 600px;
  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  color: #FFD96A;
}



input::placeholder {
  color: #F9F9F9;
}

button {
  padding: 10px 16px;
  background: #FFD96A;
  color: #002C3A;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.result-box {
  background-color: rgba(0, 63, 69, 0.8);
  padding: 16px;
  border-radius: 12px;
  margin-top: 16px;
  width: 100%;
  max-width: 300px;
}


.token-address {
  margin-top: 8px;
  font-size: 14px;
  color: #FFD96A;
}

.back-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: transparent;
  border: 1px solid #FFD96A;
  color: #FFD96A;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.disclaimer {
  font-size: 10px;
  margin-top: 12px;
  text-align: center;
  color: #FFD96A;
}